.games-list-item img{
    width: 600px;
    height: 300px;
object-fit: cover;
display: block;
margin: 0 auto;
border-radius: 25px;
flex-shrink: 0;
}
.games-list-item h2{
    font-size: 30px;
    margin-bottom: 10px;
    text-align: left;
}
.games-list-item p{
    margin: 15px 0;
}
.games-list-item{
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 15px 0;
}
.games-list-item-description a{
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px 30px;
    border-radius: 20px;
    display: block;
    width: fit-content;
}
