
.game-top{
    width: 100%;
    height: calc(100vh - 63.2px);
}
.game-top img{
    width: 100%;
    height: 100%;
}
.game-info{
    padding: 90px;
}
.game-info h1{
   font-size: 48px;
   text-align: left;
}
.game-info p{
 font-size: 20px;
 margin-bottom: 60px;
}
.game-info-imgs{
   display: flex;
   justify-content: space-between;

}
.game-info-imgs img{
    height: 360px;
    width: 48%;
}
img{
    object-fit: cover;
    border-radius: 15px;
}
.game-other{
    background-color: black;
    padding: 90px 0;
}
.game-other h2{
    color: white;
    margin-bottom: 60px;
    font-size: 48px;
}
.game-other-box{
display: flex;
justify-content: center;
gap: 20px;
}
.game-other-card{
width: 240px;
height: 360px;
}
.game-other img{
    width: 100%;
    height: 300px;
}
.game-other h3{
    color: white;
    margin-top: 15px;
    font-size: 25px;
    text-align: center;
}
.game-telegram{
    padding: 90px 0;

}
.game-telegram a{
    display: block;
    margin: 0 auto;
    color: white;
    background-color: black;
    text-decoration: none;
    border-radius: 10px;
    width: fit-content;
    padding: 5px 25px;
}


@media all and (max-width: 1024px) {
     .game-info{
        padding: 90px 0;
     }
     .game-telegram .row{
        flex-wrap: wrap;
        justify-content: center;
     }
    }
    @media all and (max-width: 768px) {
   .game-info-imgs{
    flex-wrap: wrap;
    gap: 20px;
   }
.game-other-box{
    flex-wrap: wrap;
}
.game-info-imgs img{
    width: 100%;
}
.game-other h2{
    font-size: 32px;
}
.game-telegram-right img{
    width: 100%;
    height: auto;
}
    }